html,
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family: 'Lato', sans-serif;
    color: #212121;
    font-size: 6vh;
    text-align: center;
    justify-content: center;
    background-color: rgb(189, 189, 189);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: rgb(189, 189, 189);
    border-width: 1px;
    border-color: #BDBDBD;
    margin: 0;
    padding: 0;
    padding-right: 5%;
    padding-left: 5%;

}

.menu-text {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #212121;
}

.index-main-container {
    display: flex;
    flex: 1 1 auto;
    background-color: rgb(189, 189, 189);
    justify-content: center;
}

.index-main {
    display: inline-flex;
    background-color: rgb(245, 245, 245);
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.10), 0 2px 4px rgba(0,0,0,0.20);
}

.index-link,
.bio-link,
.contact-link,
.cv-link {
    display: inline-flex;
    flex: 1 1 auto;
    border-width: 1px;
    border-style: solid;
    justify-content: center;
    text-align: center;
    background-color: #9C27B0;
    border-color: #BDBDBD;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.10), 0 2px 4px rgba(0,0,0,0.20);
}

.index-footer-container {
    display: flex;
    flex: 0.1 1 auto;
    background-color: rgb(189, 189, 189);
    justify-content: center;
    flex-direction: row;
}

.footer {
    display: inline-flex;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    width: 90%;
    min-height: 5%;
    margin-bottom: 2%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.10), 0 2px 4px rgba(0,0,0,0.20);
}

.footer-content {
	text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    align-self: center;
    width: 100%;
    height: 100%;
}

.index-link:hover,
.bio-link:hover,
.contact-link:hover,
.cv-link:hover
 {
	animation: changecolour 2s linear infinite;
}

@keyframes changecolour {
	0% {background-color: #9C27B0}
	50% {background-color: #7B1FA2}
	100% {background-color: #9C27B0}
}














@media (max-width: 600px) {
    .nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        background-color: rgb(228, 228, 228);
        border-width: 1px;
        border-color: #BDBDBD;
        margin: 0;
        padding: 0;
        padding-right: 5%;
        padding-left: 5%;
    }
    .menu-text {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: #212121;
    }
}

.email-box {
    height: 30vh;
    width: 80vw;
}

.get-email {
    height: 2vh;
    width: 80vw;
}

.contact-main {
    display: inline-flex;
    justify-content: center;
}
