    html,
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family: 'Lato', sans-serif;
    color: #212121;
    font-size: 6vh;
    text-align: center;
    justify-content: center;
    background-color: rgb(189, 189, 189);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: rgb(189, 189, 189);
    border-width: 1px;
    border-color: rgb(189, 189, 189);
    margin: 0;
    padding: 0;
    padding-right: 5%;
    padding-left: 5%;
}

.menu-text,
.contact-me-text {
    font-family: 'Lato', sans-serif;
    font-size: 4vh;
    color: #212121;
    text-align: center;
}

.index-main-container,
.bio-main-container,
.cv-main-container,
.contact-main-container {
    display: flex;
    flex: 1 1 auto;
    background-color: rgb(189, 189, 189);
    justify-content: center;
}

.index-main {
    display: flex;
    background-color: rgb(245, 245, 245);
    max-height: 100%;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10), 0 2px 4px rgba(0, 0, 0, 0.20);
    width: 90%;
}

h1 {
    font-size: 100px;
}

.Index-Main-Text {
    flex: 1 1 auto;
    padding-top: 3%;
    margin-left: 3%;
    width: 55%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #212121;
    font-size: 32px;
}

.MainImg {
    flex: 1 0 auto;
    width: 10%;
}

.me-picture {
    width: 100%;
    height: 100%;
}

.bio-main {
    display: flex;
    background-color: rgb(245, 245, 245);
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10), 0 2px 4px rgba(0, 0, 0, 0.20);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.AboutMe-Header {
    margin-top: 5%;
    font-size: 6em;
    text-align: center;
}

.AboutMe-Text {
    font-size: 2em;
    text-align: center;
    text-overflow: clip;
}

.cv-main {
    display: inline-flex;
    background-color: rgb(245, 245, 245);
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10), 0 2px 4px rgba(0, 0, 0, 0.20);
}

.Introduction {
    display: flex;
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    flex-direction: column;
}

.Projects {
    display: flex;
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top: 1%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    flex-direction: column;
}

.Recent-Work {
    display: flex;
    flex: 1 1 auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 1%;
    flex-direction: column;
}

.Introduction-Header,
.Projects-Header,
.Recent-Work-Header {
    font-size: 4em;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.Indroduction-Text,
.Projects-Text,
.Recent-Work-Text {
    font-size: 1.5em;
    margin: 1%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
}

.contact-main {
    display: inline-flex;
    background-color: rgb(245, 245, 245);
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10), 0 2px 4px rgba(0, 0, 0, 0.20);
}

.index-link,
.bio-link,
.contact-link,
.cv-link {
    display: inline-flex;
    flex: 1 1 auto;
    border-width: 1px;
    border-style: solid;
    justify-content: center;
    text-align: center;
    background-color: #9C27B0;
    border-color: rgb(189, 189, 189);
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10), 0 2px 4px rgba(0, 0, 0, 0.20);
}

.footer-container {
    display: flex;
    flex: 0 1 auto;
    background-color: rgb(189, 189, 189);
    justify-content: center;
    flex-direction: row;
}

.footer-content {
    display: inline-flex;
    background-color: rgb(245, 245, 245);
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    width: 90%;
    height: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10), 0 2px 4px rgba(0, 0, 0, 0.20);
    justify-content: center;
}

.footer-list {
    list-style: none;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-right: 5%;
    padding-left: 5%;
}

.footer-item {
    display: flex;
    align-items: center;
    margin: auto;
}

#footer-item {
    display: inline-flex;
    flex: 0 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    align-self: center;
    width: 100%;
    height: 100%;
}

.index-link:hover,
.bio-link:hover,
.contact-link:hover,
.cv-link:hover,
#submitbutton:hover {
    animation: changecolour 2s linear infinite;
}

@keyframes changecolour {
    0% {
        background-color: #9C27B0
    }
    50% {
        background-color: #7B1FA2
    }
    100% {
        background-color: #9C27B0
    }
}

#submitbutton {
    width: 200px;
    border: none;
    background: #9C27B0;
    color: #212121;
    margin: 0 0 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

#contact-form input[type="text"],
#contact-form textarea {
    width: 90%;
    border: solid;
    border: 1px;
    border-color: #BDBDBD;
    color: #212121;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background: #FFFFFF;
    margin: 0 0 5px;
    padding: 10px;
}

textarea {
    height: 100px;
    max-width: 90%;
    resize: none;
}

fieldset {
    border: none;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.form-container {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 600px) {

    .bio-main-container,
    .cv-main-container,
    .contact-main-container {
        overflow: auto;
    }
    .nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        background-color: rgb(189, 189, 189);
        border-width: 1px;
        border-color: rgb(189, 189, 189);
        margin: 0;
        padding: 0;
        padding-right: 5%;
        padding-left: 5%;
    }
    .menu-text {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: #212121;
    }
    #submitbutton {
        width: 80%;
    }
    .Index-Main-Text {
        visibility: hidden;
    }
    .MainImg {
        flex: 1 1 auto;
        max-height: 100%;
        width: 200%;
    }
    .me-picture {
        width: 200%;
        height: 99%;
        margin-left: 20%;
    }
    .cv-main {
        flex-direction: column;
        overflow: auto;
    }
    .Projects {
        margin-left: 5%;
        margin-right: 5%;
        text-overflow: clip;
    }
    .Recent-Work {
        text-overflow: clip;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Introduction {
        text-overflow: clip;
        margin-right: 5%;
        margin-left: 5%;
    }
    .AboutMe-Text {
        text-overflow:clip;
        font-size: 1.5em;
    }
    .AboutMe-Header {
        font-size: 3em;
    }
    .Introduction-Header,
    .Projects-Header,
    .Recent-Work-Header {
        font-size: 2em;
        text-align: center;
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
    .Indroduction-Text,
    .Projects-Text,
    .Recent-Work-Text {
        font-size: 1em;
        margin: 1%;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        text-align: center;
    }
}